In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('netflixData.csv')

In [4]:
df.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.1+ KB

## Data Cleaning

Saya membersihkan beberapa `feature / kolom data` yang menurut saya tidak penting

In [7]:
df.drop('Show Id', axis = 'columns', inplace = True)

In [8]:
df.drop('Date Added', axis = 'columns', inplace = True)

In [9]:
df.drop('Director', axis = 'columns', inplace = True)

In [16]:
df.drop('Cast', axis = 'columns', inplace = True)

In [17]:
df.head()

,Title,Description,Genres,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type
0,(Un)Well,This docuseries takes a deep dive into the luc...,Reality TV,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
1,#Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",Italy,2019.0,TV-14,95 min,6.4/10,Movie
3,#blackAF,Kenya Barris and his family navigate relations...,TV Comedies,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",Canada,2020.0,TV-14,90 min,5.1/10,Movie

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               5967 non-null   object
 1   Description         5967 non-null   object
 2   Genres              5967 non-null   object
 3   Production Country  5408 non-null   object
 4   Release Date        5964 non-null   float64
 5   Rating              5967 non-null   object
 6   Duration            5964 non-null   object
 7   Imdb Score          5967 non-null   object
 8   Content Type        5967 non-null   object
dtypes: float64(1), object(8)
memory usage: 419.7+ KB

In [19]:
df.isnull().sum() ## mengecek total missing values

Title                   0
Description             0
Genres                  0
Production Country    559
Release Date            3
Rating                  0
Duration                3
Imdb Score              0
Content Type            0
dtype: int64

## Fill In Missing Values

Mengisi beberapa missing values #Nan
dan mengganti data tersebut dengan value `0`

In [43]:
# fill some null values
def fill_null():
    data = {'Rating':0.0,'Imdb Score':'0', 'Duration' : 0, 'Release Date' : 0, 'Duration' : 0}
    for col,val in data.items():
        print(col)
        df[col] = df[col].fillna(val)
    return df
data_to_clean = fill_null()
data_to_clean.info()
data_to_clean.head()

Rating
Imdb Score
Duration
Release Date
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               5967 non-null   object
 1   Description         5967 non-null   object
 2   Genres              5967 non-null   object
 3   Production Country  5967 non-null   object
 4   Release Date        5967 non-null   float64
 5   Rating              5967 non-null   object
 6   Duration            5967 non-null   object
 7   Imdb Score          5967 non-null   object
 8   Content Type        5967 non-null   object
dtypes: float64(1), object(8)
memory usage: 419.7+ KB

,Title,Description,Genres,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type
0,(Un)Well,This docuseries takes a deep dive into the luc...,Reality TV,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
1,#Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",Italy,2019.0,TV-14,95 min,6.4/10,Movie
3,#blackAF,Kenya Barris and his family navigate relations...,TV Comedies,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",Canada,2020.0,TV-14,90 min,5.1/10,Movie

In [94]:
mean_country = df.groupby(['Production Country']).mean().reset_index()
mean_country

                                    Production Country  Release Date
0                                            Argentina   2018.225000
1    Argentina, Brazil, France, Poland, Germany, De...   2017.000000
2                                     Argentina, Chile   2006.000000
3                                    Argentina, France   2017.000000
4                                     Argentina, Italy   2016.500000
..                                                 ...           ...
505                             Uruguay, Spain, Mexico   2018.000000
506                                            Vietnam   2019.750000
507                                       West Germany   1977.000000
508                                           Zimbabwe   2017.000000
509                                       mode_country   2017.318426

[510 rows x 2 columns]

In [95]:
# fill some null values
def fill_null():
    data = {'Production Country' : 'mean_country'}
    for col,val in data.items():
        print(col)
        df[col] = df[col].fillna(val)
    return df
data_to_clean = fill_null()
data_to_clean.info()
data_to_clean.head()

Production Country
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               5967 non-null   object
 1   Description         5967 non-null   object
 2   Genres              5967 non-null   object
 3   Production Country  5967 non-null   object
 4   Release Date        5967 non-null   float64
 5   Rating              5967 non-null   object
 6   Duration            5967 non-null   object
 7   Imdb Score          5967 non-null   object
 8   Content Type        5967 non-null   object
dtypes: float64(1), object(8)
memory usage: 419.7+ KB

,Title,Description,Genres,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type
0,(Un)Well,This docuseries takes a deep dive into the luc...,Reality TV,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
1,#Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",Italy,2019.0,TV-14,95 min,6.4/10,Movie
3,#blackAF,Kenya Barris and his family navigate relations...,TV Comedies,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",Canada,2020.0,TV-14,90 min,5.1/10,Movie

Mengisi Missing Values pada Production Country dengan data Negara yang `paling banyak` dipakai sebagai tempat produksi

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               5967 non-null   object
 1   Description         5967 non-null   object
 2   Genres              5967 non-null   object
 3   Production Country  5967 non-null   object
 4   Release Date        5967 non-null   float64
 5   Rating              5967 non-null   object
 6   Duration            5967 non-null   object
 7   Imdb Score          5967 non-null   object
 8   Content Type        5967 non-null   object
dtypes: float64(1), object(8)
memory usage: 419.7+ KB

Melihat Ranking `Top 10` Serial di Netflix secara Keseluruhan baik itu Movies maupun TV Show

In [85]:
Ranking = df.sort_values(by=["Imdb Score","Title"],ascending=[False,False])

In [86]:
Ranking.head(10)

,Title,Description,Genres,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type
800,Breaking Bad,A high school chemistry teacher dying of cance...,"Crime TV Shows, TV Dramas, TV Thrillers",United States,2013.0,TV-MA,5 Seasons,9.4/10,TV Show
461,Avatar: The Last Airbender,Siblings Katara and Sokka wake young Aang from...,"Classic & Cult TV, Kids' TV, TV Action & Adven...",United States,2007.0,TV-Y7,3 Seasons,9.3/10,TV Show
4965,The Last Dance,This docuseries gives a definitive account of ...,Docuseries,United States,2020.0,TV-MA,1 Season,9.2/10,TV Show
3913,Reply 1988,Take a nostalgic trip back to the late 1980s t...,"International TV Shows, Korean TV Shows, Roman...",South Korea,2015.0,TV-14,1 Season,9.2/10,TV Show
3572,Our Planet,Experience our planet's natural beauty and exa...,"Docuseries, Science & Nature TV","United States, United Kingdom",2019.0,TV-PG,1 Season,9.2/10,TV Show
5280,The Untamed,"In a magical world of inter-clan rivalry, two ...","International TV Shows, TV Action & Adventure,...",China,2019.0,TV-14,1 Season,9.1/10,TV Show
2701,Leyla and Mecnun,Destiny brings Mecnun and Leyla together as ne...,"International TV Shows, Romantic TV Shows, TV ...",Turkey,2014.0,TV-MA,3 Seasons,9.1/10,TV Show
1208,David Attenborough: A Life on Our Planet,"A broadcaster recounts his life, and the evolu...",Documentaries,"United States, United Kingdom",2020.0,PG,84 min,9.1/10,Movie
3423,No Longer kids,Hoping to prevent their father from skipping t...,"Comedies, Dramas, International Movies",Egypt,1979.0,TV-14,237 min,9.0/10,Movie
3292,My Mister,"In a world that is less than kind, a young wom...","Crime TV Shows, International TV Shows, Korean...",South Korea,2018.0,TV-MA,1 Season,9.0/10,TV Show

Melihat Ranking `Top 10` Serial di Netflix dengan kategori `Movie`

In [90]:
Ranking_Movie = Ranking[(Ranking['Content Type'] == 'Movie') 
                                  ].reset_index(drop = True)

In [91]:
Ranking_Movie.head(10)

,Title,Description,Genres,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type
0,David Attenborough: A Life on Our Planet,"A broadcaster recounts his life, and the evolu...",Documentaries,"United States, United Kingdom",2020.0,PG,84 min,9.1/10,Movie
1,No Longer kids,Hoping to prevent their father from skipping t...,"Comedies, Dramas, International Movies",Egypt,1979.0,TV-14,237 min,9.0/10,Movie
2,Bo Burnham: Inside,A new comedy special shot and performed by Bo ...,Stand-Up Comedy,United States,2021.0,TV-MA,88 min,9.0/10,Movie
3,In Our Mothers' Gardens,An unplanned pregnancy upends the carefree liv...,Documentaries,United States,2020.0,TV-MA,85 min,8.9/10,Movie
4,Care of Kancharapalem,From a schoolboyâ€™s crush to a middle-aged bach...,"Comedies, Dramas, Independent Movies",India,2018.0,TV-14,142 min,8.9/10,Movie
5,Unbroken,"After the brutal murders of their loved ones, ...","Documentaries, International Movies",India,2019.0,TV-14,109 min,8.8/10,Movie
6,Sky Tour: The Movie,"From the preparations to the performances, thi...","Documentaries, International Movies, Music & M...",Vietnam,2020.0,TV-G,93 min,8.8/10,Movie
7,Bye Bye London,"In this satirical play, a wealthy Kuwaiti busi...","Comedies, Dramas, International Movies",Kuwait,1981.0,TV-14,177 min,8.8/10,Movie
8,KD (A) Karuppudurai,As his children plot his death to claim their ...,"Comedies, Dramas, Independent Movies",India,2019.0,TV-14,116 min,8.7/10,Movie
9,Untamed Romania,This documentary explores how the legendary cr...,"Children & Family Movies, Documentaries, Inter...","Romania, United Kingdom",2018.0,TV-PG,93 min,8.6/10,Movie

Melihat Ranking `Top 10` Serial di Netflix dengan kategori `TV Show`

In [92]:
Ranking_TV_Show = Ranking[(Ranking['Content Type'] == 'TV Show') 
                                  ].reset_index(drop = True)

In [93]:
Ranking_TV_Show.head(10)

,Title,Description,Genres,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type
0,Breaking Bad,A high school chemistry teacher dying of cance...,"Crime TV Shows, TV Dramas, TV Thrillers",United States,2013.0,TV-MA,5 Seasons,9.4/10,TV Show
1,Avatar: The Last Airbender,Siblings Katara and Sokka wake young Aang from...,"Classic & Cult TV, Kids' TV, TV Action & Adven...",United States,2007.0,TV-Y7,3 Seasons,9.3/10,TV Show
2,The Last Dance,This docuseries gives a definitive account of ...,Docuseries,United States,2020.0,TV-MA,1 Season,9.2/10,TV Show
3,Reply 1988,Take a nostalgic trip back to the late 1980s t...,"International TV Shows, Korean TV Shows, Roman...",South Korea,2015.0,TV-14,1 Season,9.2/10,TV Show
4,Our Planet,Experience our planet's natural beauty and exa...,"Docuseries, Science & Nature TV","United States, United Kingdom",2019.0,TV-PG,1 Season,9.2/10,TV Show
5,The Untamed,"In a magical world of inter-clan rivalry, two ...","International TV Shows, TV Action & Adventure,...",China,2019.0,TV-14,1 Season,9.1/10,TV Show
6,Leyla and Mecnun,Destiny brings Mecnun and Leyla together as ne...,"International TV Shows, Romantic TV Shows, TV ...",Turkey,2014.0,TV-MA,3 Seasons,9.1/10,TV Show
7,My Mister,"In a world that is less than kind, a young wom...","Crime TV Shows, International TV Shows, Korean...",South Korea,2018.0,TV-MA,1 Season,9.0/10,TV Show
8,Leah Remini: Scientology and the Aftermath,Former Scientology members share detailed acco...,Docuseries,United States,2018.0,TV-14,3 Seasons,9.0/10,TV Show
9,Hunter X Hunter (2011),To fulfill his dreams of becoming a legendary ...,"Anime Series, International TV Shows",Japan,2013.0,TV-14,4 Seasons,9.0/10,TV Show